<div id="<%= dom_id address %>">
  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

</div>
